[access]
	inheritFrom = OSS/ENM-Parent/SQ-Gate
[project]
[access "refs/*"]
	owner = group CI_Infrastructure_ENM_admin
	owner = group cds_admin
	owner = group litp_gerrit_repo_create
	create = group cds_admin
	forgeCommitter = group cds_admin
	pushMerge = group cds_admin
	label-Code-Review = -1..+1 group cds_admin
	rebase = group cds_admin
	submit = group cds_admin
	label-Verified = -1..+1 group cds_admin
	push = group cds_admin
	read = deny group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = deny group Replication_USSJ_ECN_DO_NOT_REMOVE
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	createTag = group cds_admin
[access "refs/changes/master"]
	push = group Registered Users
[access "^refs/for/d.*"]
	create = group Registered Users
	push = group Registered Users
	label-Code-Review = -1..+1 group Registered Users
[access "refs/for/refs/heads/master"]
	create = group Registered Users
	push = group Registered Users
	label-Code-Review = -1..+1 group Registered Users
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = group Registered Users
	label-Code-Review = -1..+1 group Registered Users
[access "^refs/tags/d.*"]
	create = group Registered Users
	push = group Registered Users
	createTag = group Registered Users
[access "^refs/for/refs/heads/d.*"]
	pushMerge = group Registered Users
	push = group Registered Users
[access "refs/heads/master"]
	label-Code-Review = -1..+1 group Registered Users
[access "^refs/heads/dRHEL7_7"]
	label-Verified = -1..+1 group ERIClitp_detachment_guard
	label-Verified = -1..+1 group ERIClitp_screwloose_guard
	label-Verified = -1..+1 group ERIClitp_themightyducks_guard
	label-Code-Review = -2..+2 group ERIClitp_themightyducks_guard
	submit = group ERIClitp_themightyducks_guard
[access "^refs/heads/dRHEL7_9"]
	label-Code-Review = -2..+2 group ERIClitp_themightyducks_guard
	label-Verified = -1..+1 group ERIClitp_detachment_guard
	label-Verified = -1..+1 group ERIClitp_screwloose_guard
	label-Verified = -1..+1 group ERIClitp_themightyducks_guard
	submit = group ERIClitp_themightyducks_guard
[access "^refs/heads/dRACK"]
	label-Code-Review = -2..+2 group ERIClitp_themightyducks_guard
	label-Verified = -1..+1 group ERIClitp_detachment_guard
	label-Verified = -1..+1 group ERIClitp_screwloose_guard
	label-Verified = -1..+1 group ERIClitp_themightyducks_guard
	submit = group ERIClitp_themightyducks_guard
